/* FONTS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Staatliches&display=swap');

/* VARIABLES */
:root {
    --title: "Staatliches";
    --body: "Bebas Neue"
}

/* STYLES */

body {
    font-family: var(--body);
    font-size: 1.1rem;
}

h1 {
    margin: 1rem auto 2rem;
    font-family: var(--title);
}

#search {
    max-width: 100%;
    margin: 1rem auto 0;
    border: 3px black solid;

}

#button-search {
    margin: 5px auto 1rem;
    width: 100%;
    border-radius: 0%;
    border: 3px black solid;
    background-color: teal;
    color: white;
    font-weight: bold;
}

p {
    font-family: var(--bod4);
}

#search-history {
    height: 100%;;
    margin: .5rem auto
}

#button-clear {
    border: teal 3px solid;
    color: white;
    background-color: rgb(34, 34, 34);
    font-weight: bold;
}

.button-list {
    text-transform: capitalize;
    
}

#current-forecast {
    margin: 10rem auto;
}
  
.card {
    border: black 3px solid;
}

.date {
    text-align: left;
}

#future-forecast {
    margin: 2rem auto;
}

.daily-forecast {
    padding-bottom: 2rem;

}

.desc {
    text-transform: capitalize;
    margin: .7rem auto;
    font-size: 1rem;
    border-bottom: 3px teal solid;
}

.icon {
    margin: 0 auto;
    max-width: 10rem;
}

/* MEDIA QUERIES */
/* @media screen and (max-width: 900px) */