/* FONTS */


/* VARIABLES */


/* RESET */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* POSITIONING */
/* .container {
    display:grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
} */

#top {
    /* display:grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 70vh; */
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

#bottom {
    display: flex;
    justify-content: space-between;
}

#sidebar, #current-location, .daily-forecast {
    /* TODO: Values for testing only */
	background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
}

#current-location {
    /* grid-column: 1 / 4;
    grid-row: 1 / 4;
    height: 100%; */
    width: 70vw;
}

#sidebar {
    /* grid-column: 4 / 6;
    grid-row: 1 / 4; */
    width: 28vw;
}

.daily-forecast {
 /* min-height: 30vh; */
}



/* STYLING */

#sidebar {
    text-align: center;
}


h1 {
    margin-top: -10px;

}

#search-form {
    text-align: center;

}

input {
    height: 2.3rem;
    margin-top: 0.5rem;
    border: none;
    border-bottom: violet 2px solid;
    border-top: violet 2px solid;
    background-color: #444;
}

/* SEARCH BUTTON */
#button-search {
    margin-top: 1rem;
    height: 2rem;
    width: 9rem;
    background-color: white;
    border: none;
}

/* CITY LIST BUTTONS */
.button-city {
    border: none;
    border-top: white 2px solid;
}


/* MEDIA QUERIES */
@media screen and (max-width: 900px) {
    #top {
        flex-direction: column;
        justify-content: center;
    }

    #bottom {
        flex-direction: column;
    }

    #sidebar, #current-location, .daily-forecast {
        width: 100vw;
    }
}