/* FONTS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* VARIABLES */


/* RESET */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* POSITIONING */


/* STYLING */

header {
    text-align: center;
}

form {
    margin-bottom: 40px;
}

input {
    height: 3rem;
}

/* TODO: Position needs tweaking */
#history-container {
    margin-top: 2rem;
    text-align: center;
}

.card {
    color: #4B515D;
    border-radius: 35px;
}

.temp {
    /* color: #1C2331; */
    margin: -10px 0;
}

.desc {
    /* margin-top: 10px; */
}


.further-info {
    text-align: center;
}